.footer{
    width: 100%;
    height: 50px;
    background: $uiColor;
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    font-weight: 100;
    color: #DADEEB;
}
.credits{
    padding-left: 2rem;
    padding-top: 1.6rem;
}
.twitter{
    color:white;
}