*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    height: 100%;
    user-select: none;

    --uiColor: #53555F; 
    --uiHighlight: #2B2C31;
    --roomGrey: #9F9F9F;
    --roomDarkGrey: #383838;
    --uiLightGrey: #C4C4C4;
    --textColour: black;
    --headerColour: white;
    --popUpBackground: #F9F9F9;
    --popUp: #53555F;

    --background: #DADEEB;
    --backgroundWhite: #F9F9F9;
    --topBar: white;
}
html[data-theme='dark']{
    --uiColor: #53555F; 
    --uiHighlight: #F9F9F9;
    --roomGrey: #9F9F9F;
    --roomDarkGrey: #383838;
    --uiLightGrey: #53555F;
    --textColour: white;
    --headerColour: black;
    --popUpBackground:  #3C3846;
    --popUp: #2B2C31;

    --background: #3C3846;
    --backgroundWhite: #2B2C31;
    --topBar: #2B2C31;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--backgroundWhite);
    background: var(--topBar);
    position: static;
    overflow: hidden;
    height: 100%;
    // border: 1rem solid $uiColor;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    
    width: 25rem;
    height: 10rem;
    background: var(--uiColor);
    border: 5px solid white;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: white;
    font-weight: 600;
    font-size: 3rem;
    transition: all 0.15s ease-in-out;
}
button:hover{
    transform: scale(1.1);
}

input{
    outline: none;
    border: none;
    padding-left: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.topBar{
    background: var(--uiLightGrey);
    padding-bottom: 1rem;
}