.title{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 2rem;

    position: absolute;
    top:-0.5rem;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-height:1000px){
    .title{padding-top: 1.5rem;}
}
.titleHolder{
    display: inline-block;
    position: relative;
    padding-right: 8rem;
}
.darkMode{
    position: absolute;
    right:-35rem;
    top:0;
    background: var(--uiColor);
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 5rem;
    margin-left: -10px;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: transform 0.15s ease-in-out;
}
.darkMode:hover{
    transform: scale(1.1);
}