.hidden{
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}
.newMapPopUp{
    width: 68rem;
    height:38rem;
    z-index: 20;
    background: var(--popUpBackground);
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 0.5rem solid var(--uiHighlight);
    border-radius: 1rem; 
    font-size: 2.5rem;

    .setupText{
        background: var(--uiHighlight);
        display: inline;
        padding-right: 2rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        border-bottom-right-radius: 1rem;
    }

    .start{
        width: 20rem;
        height: 8rem;
        margin-top: 1.5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.start:hover{
    transform: scale(1.1) translateX(-45.5%);
}

.setupUi{
    width:62rem;
    height: 20rem;
    background: var(--popUp);
    margin:auto;
    margin-top: 2rem;
    border-radius: 1rem;
    display: flex;
}
.mapName{
    margin-left: 6rem;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    
    .nameText{
        font-weight: 600;
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-right: 1rem;
        color:white;
    }
    .overwrite{
        font-weight: 300;
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-right: 1rem;
        color:white;
        position: absolute;
        bottom: -5.5rem;
        .overwriteButton{
            color:white;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .nameInput{
        color: var(--uiColor);
        font-size: 2.5rem;
        width: 18rem;
        height: 6rem;
        border-radius: 1rem;
        transition: all 0.15s ease-in-out;
    }
    .nameInput:focus{
        transform: scale(1.05);
    }
}
.mapSize{
    margin-left: 5rem;
    
    .text{
        font-weight: 600;
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-right: 1rem;
        color:white;
    }
    .size{
        display: flex;
        margin-top: 2rem;
    }
    .input{
        color: var(--uiColor);
        font-size: 2.5rem;
        width: 8rem;
        height: 6rem;
        border-radius: 1rem;
        -webkit-appearance: none;
        transition: all 0.15s ease-in-out;
    }
    .input:focus{
        transform: scale(1.05);
    }
    .width{
        margin-top: 3rem;
        margin-left: 1rem;
    }
}
.exitButton{
    background: var(--uiColor);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    right: -3rem;
    top:-3rem;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    transition: all 0.15s ease-in-out;
    border: 0.3rem solid white;
}
.exitButton:hover{
    transform: scale(1.1);
}