//Colours
$uiColor: #53555F; 
$uiHighlight: #2B2C31;
$roomGrey: #9F9F9F;
$roomDarkGrey: #383838;

@import "global";
.title{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 2rem;
}

@import "footer";
@import "mainArea";