.invisible {
  visibility: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #F9F9F9;
  position: static;
  overflow: hidden;
  height: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 25rem;
  height: 10rem;
  background: #53555F;
  border: 3px solid white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 600;
  font-size: 3rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input {
  outline: none;
  border: none;
  padding-left: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.topBar {
  background: #C4C4C4;
  padding-bottom: 1rem;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.titleHolder {
  display: inline-block;
  position: relative;
  padding-right: 8rem;
  margin-left: 8rem;
}

.darkMode {
  position: absolute;
  right: 0;
  top: 0;
  background: #53555F;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5rem;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
  transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}

.darkMode:hover {
  height: 7.3rem;
  width: 7.3rem;
}

.footer {
  width: 100%;
  height: 50px;
  background: #53555F;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: 100;
  color: #DADEEB;
}

.credits {
  padding-left: 2rem;
  padding-top: 1.6rem;
}

.twitter {
  color: white;
}

.mainAreaHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainArea {
  width: 135rem;
  height: 65rem;
  background: #DADEEB;
  border-radius: 2rem;
}

.buttons {
  width: 55rem;
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons .loadMap {
  margin-left: 5rem;
}

.info {
  width: 55rem;
  height: 42rem;
  margin-top: 2rem;
}

.infoBox {
  background: #F9F9F9;
  width: 55rem;
  height: 42rem;
  border: 0.5rem solid #2B2C31;
  border-radius: 1rem;
  font-size: 2.5rem;
}

.infoBox .infoHeader {
  background: #2B2C31;
  display: inline;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-bottom-right-radius: 1rem;
}

.infoBox .infoText {
  color: black;
  margin: 1rem;
  margin-top: 0.5rem;
}

.recentMap {
  background: #F9F9F9;
  height: 55rem;
  width: 55rem;
  border: 0.5rem solid #2B2C31;
  border-radius: 1rem;
  font-size: 2.5rem;
}

.recentMap .recentMapText {
  background: #2B2C31;
  display: inline;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-bottom-right-radius: 1rem;
}

.leftSide {
  float: left;
  margin-top: 5rem;
  margin-left: 8rem;
}

.rightSide {
  float: right;
  margin-top: 5rem;
  margin-right: 8rem;
}

.hidden {
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 98%;
  position: absolute;
  margin-top: 2%;
}

.newMapPopUp {
  width: 68rem;
  height: 38rem;
  z-index: 20;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0.5rem solid #53555F;
  border-radius: 1rem;
  font-size: 2.5rem;
}

.newMapPopUp .setupText {
  background: #53555F;
  display: inline;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border-bottom-right-radius: 1rem;
}

.newMapPopUp .start {
  width: 20rem;
  height: 8rem;
  margin-top: 1.5rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.start:hover {
  -webkit-transform: scale(1.1) translateX(-45.5%);
          transform: scale(1.1) translateX(-45.5%);
}

.setupUi {
  width: 62rem;
  height: 20rem;
  background: #53555F;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mapName {
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.mapName .nameText {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.mapName .nameInput {
  color: #53555F;
  font-size: 2.5rem;
  width: 18rem;
  height: 6rem;
  border-radius: 1rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.mapName .nameInput:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.mapSize {
  margin-left: 5rem;
}

.mapSize .text {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.mapSize .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.mapSize .input {
  color: #53555F;
  font-size: 2.5rem;
  width: 8rem;
  height: 6rem;
  border-radius: 1rem;
  -webkit-appearance: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.mapSize .input:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.mapSize .width {
  margin-top: 3rem;
  margin-left: 1rem;
}

.exitButton {
  background: #53555F;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: -3rem;
  top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: 0.3rem solid white;
}

.exitButton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */