//Colours
$uiColor: #53555F; 
$uiHighlight: #2B2C31;
$roomGrey: #9F9F9F;
$roomDarkGrey: #383838;
$uiLightGrey: #C4C4C4;

.invisible{
    visibility: hidden;
}

@import "global";
@import "header";
@import "footer";
@import "mainArea";
@import "newMap";