@keyframes opening {
    from{opacity: 0}
    to{opacity: 1;}
}
@keyframes activateTool {
    70%{
        width: 7rem;
        height: 7rem; 
    }
    to{
        width: 6.7rem;
        height: 6.7rem; 
        box-shadow: $boxShadowActive;
        background: var(--uiHighlight);
    }
}
@keyframes activatePick {
    70%{transform: scale(1.15);}
    to{
        transform: scale(1);
        background: #2B2C31;
    }
}
@keyframes activateBiome {
    70%{
        width: 7.3rem;
        height: 7.3rem; 
    }
    to{
        width: 7rem;
        height: 7rem;
        border: 3px solid var(--gridBorder);
        border-radius: 50%;
        margin-top: 0;
    }
}
@keyframes spawnIcon{
    from{transform:scale(0.9);}
    70%{transform:scale(1.1);}
    to{transform:scale(1);}
}
@keyframes spawn {
    from {transform: scale(1);}
    60%{transform: scale(1.07);}
    to{transform: scale(1);}
}
@keyframes spawn-left {
    from {transform: translate(-0.5rem,0rem) scale(1);}
    60%{transform: translate(-0.5rem,0rem) scale(1.1);}
    to{transform: translate(-0.5rem,0rem) scale(1);}
}
@keyframes spawn-door-up {
    from {transform:scale(0.5);}
    80% {transform:scale(1.1);}
    to{transform:scale(1);}
}
@keyframes spawn-door-side {
    from {transform:scale(0.5);}
    80% {transform:scale(1.1);}
    to{transform:scale(1);}
}

//makes setting menu smoothly move left when opened
@keyframes spawn-restart {
    from{transform: translateX(7rem);}
    to{transform: translateX(0rem);}
}
@keyframes spawn-save {
    from{transform: translateX(14rem);}
    to{transform: translateX(0rem);}
}
@keyframes spawn-export {
    from{transform: translateX(21rem);}
    to{transform: translateX(0rem);}
}
@keyframes spawn-exit {
    from{transform: translateX(28rem);}
    to{transform: translateX(0rem);}
}

//makes setting menu smoothly move rigth when closed
@keyframes close-restart {
    from{transform: translateX(0rem);}
    to{
        transform: translateX(7rem);
        visibility: hidden;
    }
}
@keyframes close-save {
    from{transform: translateX(0rem);}
    to{
        transform: translateX(14rem);
        visibility: hidden;
    }
}
@keyframes close-export {
    from{transform: translateX(0rem);}
    to{
        transform: translateX(21rem);
        visibility: hidden;
    }
}
@keyframes close-exit {
    from{transform: translateX(0rem);}
    to{
        transform: translateX(28rem);
        visibility: hidden;
    }
}

@keyframes spawnGrid {
    from{transform: scale(0);}
    to{transform: scale(1);}
}