.biomeHolder{
    position: absolute;
    transform: translateY(-13rem);
}
.biomeSelect{
    width: 24.5rem;
    height: 16rem;

    box-shadow: $boxShadowActive;
    background:  #F9F9F9;
    border: 3px solid #383838;
    box-sizing: border-box;
    border-radius: 0.5rem; 

    display: grid;
    grid-template-columns: 7rem 7rem 7rem;
    grid-template-rows: 7rem 7rem;
    padding-top: 1rem;
    z-index: 100;
}
.biomeBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 100;
}
.biome{
    background: var(--uiColor);
    height: 6rem;
    width: 6rem;
    margin: 0rem 2rem;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center; 
    align-items: center;

    transition: transform 0.15s ease-in-out;
}
.addBiome{
    background: var(--uiColor);
    height: 6rem;
    width: 6rem;
    margin: 0rem 2rem;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center; 
    align-items: center;

    transition: transform 0.15s ease-in-out;
}
.biome:hover{
    transform: scale(1.05);
}
.addBiome:hover{
    transform: scale(1.05);
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: $boxShadowActive;
}
.activeBiome{
    animation: activateBiome 0.3s ease-in-out forwards;
    background: var(--uiHighlight);
}
.normalBiome{
    background: var(--roomGrey);
}
.grassBiome{
    background: var(--roomGreen);
}
.redBiome{
    background: var(--roomRed);
}
.blueBiome{
    background: var(--roomBlue);
}
.yellowBiome{
    background: var(--roomYellow);
}
.purpleBiome{
    background: var(--roomPurple);
}
.secretBiome{
    background: var(--secretRoom);
}
.activated{
    border: 3px solid var(--roomAltGrey);
    height: 6rem;
    width: 6rem;
    margin: 0rem 2rem;
    border-radius: 50%;
    box-shadow: $boxShadow;
}
.arrowDown{
    position: absolute;
    transform: translateX(8.9rem);
    top: 13.8rem;
}