.doorRight {
    animation: spawn-door-side 0.4s ease-in-out;
    background: var(--background);
    width: $gridBorderSize;
    height: var(--doorSize);
    position: absolute;
    left: var(--doorPos);
    bottom: 2rem;
    z-index: 50;
}

.doorDown {
    animation: spawn-door-up 0.4s ease-in-out;
    background: var(--background);
    width: var(--doorSize);
    height: $gridBorderSize;
    position: absolute;
    left: 1.8rem;
    bottom: -0.3rem;
    z-index: 50;
}

.doorLeft {
    animation: spawn-door-side 0.4s ease-in-out;
    background: var(--background);
    width: $gridBorderSize;
    height: var(--doorSize);
    position: absolute;
    left: -0.2rem;
    bottom: 2rem;
    z-index: 50;
}

.doorUp {
    animation: spawn-door-up 0.4s ease-in-out;
    background: var(--background);
    width: var(--doorSize);
    height: $gridBorderSize;
    position: absolute;
    left: 1.8rem;
    bottom: var(--doorPos);
    z-index: 50;
}