.mapCenterer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spawnGrid 0.5s ease-in-out;
}
.map{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -1rem;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem;
    background: $backgroundWhite;

    border-left: $gridBorderSize solid #383838;
    border-bottom: $gridBorderSize solid #383838;
}
.grid{
    position: relative;
    border: $gridBorderSize solid $background;
    width: $gridSize;
    height: $gridSize;
}
.gridHolder{
    display: grid;
    grid-template-columns: $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid;
    grid-template-rows: $grid $grid $grid $grid $grid $grid $grid $grid $grid $grid;
}