.settingsBar{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
    margin-left: 82.7rem;
    transform: translateY(-3rem);
}
.setting{
    background: $uiColor;
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    border-radius: 50%;
    cursor: pointer;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;

    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}
.settingsButton{
    width: 7rem;
    height: 7rem; 
    border: 3px solid white;
    box-shadow: $boxShadowActive;
    background: $uiHighlight;
}

.settingsBarHidden{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 100;
    padding-left: 111rem;
    transform: translateY(-2.5rem);

    .otherSetting{
        display: none;
    }
    .settingsButton{
        width: 6rem;
        height: 6rem; 
        border: 0px solid white;
        box-shadow: $boxShadow;
        background: $uiColor;
    }
    .settingsButton:hover{
        height: 6.3rem;
        width: 6.3rem;
        box-shadow: $boxShadowActive;
    }
}

//css for all buttons but settings
.otherSetting{
    margin-top: 0.5rem;
}
.otherSetting:hover{
    height: 6.3rem;
    width: 6.3rem;
    box-shadow: $boxShadowActive;
}

//spawn animation
.restartButton{
    z-index: -10;
    animation: spawn-restart 1s ease-in-out;
}
.saveButton{
    z-index: -20;
    animation: spawn-save 1s ease-in-out;
}
.exportButton{
    z-index: -30;
    animation: spawn-export 1s ease-in-out;
}
.exitButton{
    z-index: -40;
    animation: spawn-exit 1s ease-in-out;
}

//pop up text
.settingName{
    position: absolute;
    top: -2rem;
    background: transparent;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: none;
    width: 10rem;
    color: white;
    opacity: 0;
}