.settingsBar{
    position: absolute;
    display: flex;
    right: -3.5rem;
    top: -2.5rem;
    flex-direction: row-reverse;
    z-index: 100;
    transform-origin: right;
}
.closed{
    .settingsButton{
        width: 6rem;
        height: 6rem; 
        background: var(--uiColor);
        transition: transform 0.15s ease-in-out;
    }
    .settingsButton:hover{
        transform: scale(1.05);
    }
}
.open{
    .settingsButton{
        transform: scale(1.1);
        background: var(--uiHighlight);
    }
    .settingsButton:hover{
        transform: scale(1.15);
    }
}

.spawned{
    margin-left: 110.7rem;
    .otherSetting{
        display: none;
    }
}
.setting{
    background: var(--uiColor);
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    border-radius: 50%;
    cursor: pointer;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;

    transition: all 0.15s ease-in-out;
}

//css for all buttons but settings
.otherSetting:hover{
    transform:scale(1.1);
}

//spawn animation
.restartButtonOpen{
    z-index: -10;
    animation: spawn-restart $settingSeed ease-in-out;
}
.saveButtonOpen{
    z-index: -20;
    animation: spawn-save $settingSeed ease-in-out;
}
.exportButtonOpen{
    z-index: -30;
    animation: spawn-export $settingSeed ease-in-out;
}
.exitButtonOpen{
    z-index: -40;
    animation: spawn-exit $settingSeed ease-in-out;
}
//Close animations
.restartButtonClose{
    z-index: -10;
    animation: close-restart $settingSeed ease-in-out;
    animation-fill-mode: forwards;  
}
.saveButtonClose{
    z-index: -20;
    animation: close-save $settingSeed ease-in-out;
    animation-fill-mode: forwards;  
}
.exportButtonClose{
    z-index: -30;
    animation: close-export $settingSeed ease-in-out;
    animation-fill-mode: forwards;  
}
.exitButtonClose{
    z-index: -40;
    animation: close-exit $settingSeed ease-in-out;
    animation-fill-mode: forwards;  
}

//pop up text
.settingName{
    position: absolute;
    top: -2rem;
    background: transparent;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: none;
    width: 10rem;
    color: var(--textColor);
    opacity: 0;
}