.textBox{
    position: relative;
    z-index: 20;
    transform: translate(0.6rem, 0.3rem);
}
.text{
    background: transparent;
    font-size: 1.8rem;
    
    border: none;
    width: 10rem;
    color: var(--textColor);
}
.text::-webkit-input-placeholder {
    color: var(--background);
    text-shadow: none;
}
.text:focus {
    background: transparent;
    outline: none;
}