.toolBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: -0.3rem;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.toolName{
    position: absolute;
    left: -5rem;
    background: transparent;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: none;
    width: 10rem;
    color: var(--textColor);
    opacity: 0;
}
.tool{
    background: var(--uiColor);
    height: 6rem;
    width: 6rem;
    margin: 1rem 0rem;
    border-radius: 50%;
    box-shadow: $boxShadow;
    cursor: pointer;
    
    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;

    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}
.tool:hover{
    height: 6.3rem;
    width: 6.3rem;
    box-shadow: $boxShadowActive;
}

.activeTool{
    animation: activateTool 0.3s ease-in-out forwards;
}