* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  --uiColor:#53555F;
  --uiHighlight: #2B2C31;
  --background: #DADEEB;
  --backgroundWhite: #F9F9F9;
  --textColor: white;
  --gridBorder: #383838;
  --roomGrey: #9F9F9F;
  --roomAltGrey: #383838;
  --roomGreen: #14A653;
  --roomAltGreen: #073F1F;
  --roomBlue: #3D92E1;
  --roomAltBlue: #0D2562;
  --roomRed: #CF3652;
  --roomAltRed: #560029;
  --roomYellow: #E0BC3D;
  --roomAltYellow: #563708;
  --roomPurple: #904fa0;
  --roomAltPurple: #35054B;
  --secretRoom: #E5E5E5;
}

html[data-theme='dark'] {
  --uiColor:#F9F9F9;
  --uiHighlight: #F9F9F9;
  --background: #3C3846;
  --backgroundWhite: #0C0000;
  --textColor: white;
  --gridBorder: #0C0000;
  --roomGrey: #9F9F9F;
  --roomAltGrey: #D8D8D8;
  --roomGreen: #14A653;
  --roomAltGreen: #9EDAB8;
  --roomBlue: #3D92E1;
  --roomAltBlue: #B6D4EF;
  --roomRed: #CF3652;
  --roomAltRed: #EBACB7;
  --roomYellow: #E0BC3D;
  --roomAltYellow: #F2E3AF;
  --roomPurple: #904fa0;
  --roomAltPurple: #D6B2E0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--backgroundWhite);
  position: static;
  overflow: hidden;
  height: 100%;
  background: var(--background);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.hidden {
  visibility: hidden;
}

.toolBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -0.3rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.toolName {
  position: absolute;
  left: -5rem;
  background: transparent;
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border: none;
  width: 10rem;
  color: var(--textColor);
  opacity: 0;
}

.tool {
  background: var(--uiColor);
  height: 6rem;
  width: 6rem;
  margin: 1rem 0rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
  transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}

.tool:hover {
  height: 6.3rem;
  width: 6.3rem;
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
}

.activeTool {
  -webkit-animation: activateTool 0.3s ease-in-out forwards;
          animation: activateTool 0.3s ease-in-out forwards;
}

.mapCenterer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: spawnGrid 0.5s ease-in-out;
          animation: spawnGrid 0.5s ease-in-out;
}

.map {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: -1rem;
  padding-bottom: 0.4rem;
  padding-right: 0.4rem;
  background: var(--backgroundWhite);
  border-left: 0.4rem solid var(--gridBorder);
  border-bottom: 0.4rem solid var(--gridBorder);
}

.grid {
  position: relative;
  border: 0.4rem solid var(--background);
  width: 7.5rem;
  height: 7.5rem;
}

.gridHolder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
      grid-template-columns: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
  -ms-grid-rows: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
      grid-template-rows: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
}

.biomeHolder {
  position: absolute;
  -webkit-transform: translateY(-13rem);
          transform: translateY(-13rem);
}

.biomeSelect {
  width: 24.5rem;
  height: 16rem;
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
  background: #F9F9F9;
  border: 3px solid #383838;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7rem 7rem 7rem;
      grid-template-columns: 7rem 7rem 7rem;
  -ms-grid-rows: 7rem 7rem;
      grid-template-rows: 7rem 7rem;
  padding-top: 1rem;
  z-index: 100;
}

.biomeBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 100;
}

.biome {
  background: var(--uiColor);
  height: 6rem;
  width: 6rem;
  margin: 0rem 2rem;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.addBiome {
  background: var(--uiColor);
  height: 6rem;
  width: 6rem;
  margin: 0rem 2rem;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.biome:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.addBiome:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
}

.activeBiome {
  -webkit-animation: activateBiome 0.3s ease-in-out forwards;
          animation: activateBiome 0.3s ease-in-out forwards;
  background: var(--uiHighlight);
}

.normalBiome {
  background: var(--roomGrey);
}

.grassBiome {
  background: var(--roomGreen);
}

.redBiome {
  background: var(--roomRed);
}

.blueBiome {
  background: var(--roomBlue);
}

.yellowBiome {
  background: var(--roomYellow);
}

.purpleBiome {
  background: var(--roomPurple);
}

.secretBiome {
  background: var(--secretRoom);
}

.activated {
  border: 3px solid var(--roomAltGrey);
  height: 6rem;
  width: 6rem;
  margin: 0rem 2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.arrowDown {
  position: absolute;
  -webkit-transform: translateX(8.9rem);
          transform: translateX(8.9rem);
  top: 13.8rem;
}

.single {
  -webkit-transition: border-radius 1s ease-in-out;
  transition: border-radius 1s ease-in-out;
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
}

.room-left {
  -webkit-animation: spawn-left 0.2s ease-in-out;
          animation: spawn-left 0.2s ease-in-out;
  width: calc(8rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-top: 0.3rem solid var(--roomBorder);
  border-bottom: 0.3rem solid var(--roomBorder);
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  -webkit-transform: translate(-0.5rem, 0);
          transform: translate(-0.5rem, 0);
}

.room-right {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(8rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-left: 0.3rem solid var(--roomBorder);
  border-top: 0.3rem solid var(--roomBorder);
  border-bottom: 0.3rem solid var(--roomBorder);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.room-up {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(7.5rem - 0.8rem);
  height: calc(8rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-left: 0.3rem solid var(--roomBorder);
  border-bottom: 0.3rem solid var(--roomBorder);
  border-right: 0.3rem solid var(--roomBorder);
  border-bottom-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  -webkit-transform: translate(0, -0.5rem);
          transform: translate(0, -0.5rem);
}

.room-down {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(7.5rem - 0.8rem);
  height: calc(8rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-left: 0.3rem solid var(--roomBorder);
  border-top: 0.3rem solid var(--roomBorder);
  border-right: 0.3rem solid var(--roomBorder);
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}

.room-left-right {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(8.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-bottom: 0.3rem solid var(--roomBorder);
  border-top: 0.3rem solid var(--roomBorder);
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
}

.room-left-up {
  -webkit-animation: spawn-left 0.2s ease-in-out;
          animation: spawn-left 0.2s ease-in-out;
  width: calc(8rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
  border-bottom: 0.3rem solid var(--roomBorder);
  border-right: 0.3rem solid var(--roomBorder);
  border-bottom-right-radius: 0.6rem;
  border-top: 0.3rem solid var(--roomBorder);
}

.room-left-up::after {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0.5rem, -0.67rem);
          transform: translate(0.5rem, -0.67rem);
}

.room-left-down {
  -webkit-animation: spawn-left 0.2s ease-in-out;
          animation: spawn-left 0.2s ease-in-out;
  width: calc(8rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
  border-top: 0.3rem solid var(--roomBorder);
  border-right: 0.3rem solid var(--roomBorder);
  border-top-right-radius: 0.6rem;
  border-bottom: 0.3rem solid var(--roomBorder);
}

.room-left-down::after {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0.5rem, 6.05rem);
          transform: translate(0.5rem, 6.05rem);
}

.room-right-up {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(8rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-bottom: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  border-bottom-left-radius: 0.6rem;
  border-top: 0.3rem solid var(--roomBorder);
}

.room-right-up::after {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(-0.3rem, -0.7rem);
          transform: translate(-0.3rem, -0.7rem);
}

.room-right-down {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(8rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-top: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  border-top-left-radius: 0.6rem;
  border-bottom: 0.3rem solid var(--roomBorder);
}

.room-right-down::after {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(-0.3rem, 6.1rem);
          transform: translate(-0.3rem, 6.1rem);
}

.room-up-down {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(7.5rem - 0.8rem);
  height: calc(8.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.room-left-right-up {
  -webkit-animation: spawn-left 0.2s ease-in-out;
          animation: spawn-left 0.2s ease-in-out;
  width: calc(8.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-bottom: 0.3rem solid var(--roomBorder);
  border-top: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(-0.5rem, 0rem);
          transform: translate(-0.5rem, 0rem);
}

.room-left-right-up::after {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0.5rem, -0.7rem);
          transform: translate(0.5rem, -0.7rem);
}

.room-right-up-down {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(7.5rem - 0.8rem);
  height: calc(8.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0rem, -0.5rem);
          transform: translate(0rem, -0.5rem);
}

.room-right-up-down::after {
  content: "";
  width: 0.7rem;
  height: 6.1rem;
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translate(6.1rem, 0.5rem);
          transform: translate(6.1rem, 0.5rem);
  border-top: 0.3rem solid var(--roomBorder);
  border-bottom: 0.3rem solid var(--roomBorder);
}

.room-left-right-down {
  -webkit-animation: spawn-left 0.2s ease-in-out;
          animation: spawn-left 0.2s ease-in-out;
  width: calc(8.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-top: 0.3rem solid var(--roomBorder);
  border-bottom: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(-0.5rem, 0rem);
          transform: translate(-0.5rem, 0rem);
}

.room-left-right-down::after {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0.5rem, 6.1rem);
          transform: translate(0.5rem, 6.1rem);
}

.room-left-up-down {
  -webkit-animation: spawn 0.2s ease-in-out;
          animation: spawn 0.2s ease-in-out;
  width: calc(7.5rem - 0.8rem);
  height: calc(8.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0rem, -0.5rem);
          transform: translate(0rem, -0.5rem);
}

.room-left-up-down::after {
  content: "";
  width: 0.7rem;
  height: 6.1rem;
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-top: 0.3rem solid var(--roomBorder);
  border-bottom: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(-0.7rem, 0.5rem);
          transform: translate(-0.7rem, 0.5rem);
}

.room-left-right-up-down {
  -webkit-animation: spawn-left 0.2s ease-in-out;
          animation: spawn-left 0.2s ease-in-out;
  width: calc(8.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-top: 0.3rem solid var(--roomBorder);
  border-bottom: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(-0.5rem, 0rem);
          transform: translate(-0.5rem, 0rem);
}

.room-left-right-up-down::after {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0.5rem, -0.7rem);
          transform: translate(0.5rem, -0.7rem);
}

.room-left-right-up-down::before {
  content: "";
  width: 6.1rem;
  height: 0.7rem;
  background: var(--room);
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-right: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0.5rem, 6.1rem);
          transform: translate(0.5rem, 6.1rem);
}

.room-right-down-fill {
  -webkit-animation: spawn 0.3s ease-in-out;
          animation: spawn 0.3s ease-in-out;
  width: calc(8.5rem - 0.8rem);
  height: calc(8.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-top: 0.3rem solid var(--roomBorder);
  border-left: 0.3rem solid var(--roomBorder);
  border-top-left-radius: 0.6rem;
}

.room-left-right-down-fill {
  -webkit-animation: spawn 0.3s ease-in-out;
          animation: spawn 0.3s ease-in-out;
  width: calc(8.5rem - 0.8rem);
  height: 6.4rem;
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-top: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(-0.5rem, 0rem);
          transform: translate(-0.5rem, 0rem);
}

.room-left-right-down-fill::before {
  content: "";
  width: calc(8.5rem - 0.8rem);
  height: 5rem;
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translate(0.8rem, 2.5rem);
          transform: translate(0.8rem, 2.5rem);
}

.room-right-up-down-fill {
  -webkit-animation: spawn 0.3s ease-in-out;
          animation: spawn 0.3s ease-in-out;
  width: 6.4rem;
  height: calc(8.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  border-left: 0.3rem solid var(--roomBorder);
  -webkit-transform: translate(0rem, -0.5rem);
          transform: translate(0rem, -0.5rem);
}

.room-right-up-down-fill::after {
  content: "";
  width: 5rem;
  height: calc(8.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translate(2.2rem, 0.8rem);
          transform: translate(2.2rem, 0.8rem);
}

.room-left-right-up-down-fill {
  -webkit-animation: spawn 0.3s ease-in-out;
          animation: spawn 0.3s ease-in-out;
  width: calc(8.5rem - 0.8rem);
  height: 5.6rem;
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translate(-0.5rem, 0.5rem);
          transform: translate(-0.5rem, 0.5rem);
}

.room-left-right-up-down-fill::before {
  content: "";
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translate(1.5rem, 0.5rem);
          transform: translate(1.5rem, 0.5rem);
}

.room-left-right-up-down-fill::after {
  content: "";
  width: 5.7rem;
  height: calc(8.5rem - 0.8rem);
  background: var(--room);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: border-radius 0.2s;
  transition: border-radius 0.2s;
  -webkit-transform: translate(0.9rem, -1rem);
          transform: translate(0.9rem, -1rem);
}

.doorRight {
  -webkit-animation: spawn-door-side 0.4s ease-in-out;
          animation: spawn-door-side 0.4s ease-in-out;
  background: var(--background);
  width: 0.4rem;
  height: 3rem;
  position: absolute;
  left: 6.5rem;
  bottom: 2rem;
  z-index: 50;
}

.doorDown {
  -webkit-animation: spawn-door-up 0.4s ease-in-out;
          animation: spawn-door-up 0.4s ease-in-out;
  background: var(--background);
  width: 3rem;
  height: 0.4rem;
  position: absolute;
  left: 1.8rem;
  bottom: -0.3rem;
  z-index: 50;
}

.doorLeft {
  -webkit-animation: spawn-door-side 0.4s ease-in-out;
          animation: spawn-door-side 0.4s ease-in-out;
  background: var(--background);
  width: 0.4rem;
  height: 3rem;
  position: absolute;
  left: -0.2rem;
  bottom: 2rem;
  z-index: 50;
}

.doorUp {
  -webkit-animation: spawn-door-up 0.4s ease-in-out;
          animation: spawn-door-up 0.4s ease-in-out;
  background: var(--background);
  width: 3rem;
  height: 0.4rem;
  position: absolute;
  left: 1.8rem;
  bottom: 6.5rem;
  z-index: 50;
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes activateTool {
  70% {
    width: 7rem;
    height: 7rem;
  }
  to {
    width: 6.7rem;
    height: 6.7rem;
    -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    background: var(--uiHighlight);
  }
}

@keyframes activateTool {
  70% {
    width: 7rem;
    height: 7rem;
  }
  to {
    width: 6.7rem;
    height: 6.7rem;
    -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    background: var(--uiHighlight);
  }
}

@-webkit-keyframes activatePick {
  70% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #2B2C31;
  }
}

@keyframes activatePick {
  70% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #2B2C31;
  }
}

@-webkit-keyframes activateBiome {
  70% {
    width: 7.3rem;
    height: 7.3rem;
  }
  to {
    width: 7rem;
    height: 7rem;
    border: 3px solid var(--gridBorder);
    border-radius: 50%;
    margin-top: 0;
  }
}

@keyframes activateBiome {
  70% {
    width: 7.3rem;
    height: 7.3rem;
  }
  to {
    width: 7rem;
    height: 7rem;
    border: 3px solid var(--gridBorder);
    border-radius: 50%;
    margin-top: 0;
  }
}

@-webkit-keyframes spawnIcon {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spawnIcon {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spawn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spawn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spawn-left {
  from {
    -webkit-transform: translate(-0.5rem, 0rem) scale(1);
            transform: translate(-0.5rem, 0rem) scale(1);
  }
  60% {
    -webkit-transform: translate(-0.5rem, 0rem) scale(1.1);
            transform: translate(-0.5rem, 0rem) scale(1.1);
  }
  to {
    -webkit-transform: translate(-0.5rem, 0rem) scale(1);
            transform: translate(-0.5rem, 0rem) scale(1);
  }
}

@keyframes spawn-left {
  from {
    -webkit-transform: translate(-0.5rem, 0rem) scale(1);
            transform: translate(-0.5rem, 0rem) scale(1);
  }
  60% {
    -webkit-transform: translate(-0.5rem, 0rem) scale(1.1);
            transform: translate(-0.5rem, 0rem) scale(1.1);
  }
  to {
    -webkit-transform: translate(-0.5rem, 0rem) scale(1);
            transform: translate(-0.5rem, 0rem) scale(1);
  }
}

@-webkit-keyframes spawn-door-up {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spawn-door-up {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spawn-door-side {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spawn-door-side {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spawn-restart {
  from {
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes spawn-restart {
  from {
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes spawn-save {
  from {
    -webkit-transform: translateX(14rem);
            transform: translateX(14rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes spawn-save {
  from {
    -webkit-transform: translateX(14rem);
            transform: translateX(14rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes spawn-export {
  from {
    -webkit-transform: translateX(21rem);
            transform: translateX(21rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes spawn-export {
  from {
    -webkit-transform: translateX(21rem);
            transform: translateX(21rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes spawn-exit {
  from {
    -webkit-transform: translateX(28rem);
            transform: translateX(28rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes spawn-exit {
  from {
    -webkit-transform: translateX(28rem);
            transform: translateX(28rem);
  }
  to {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes close-restart {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
    visibility: hidden;
  }
}

@keyframes close-restart {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
    visibility: hidden;
  }
}

@-webkit-keyframes close-save {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(14rem);
            transform: translateX(14rem);
    visibility: hidden;
  }
}

@keyframes close-save {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(14rem);
            transform: translateX(14rem);
    visibility: hidden;
  }
}

@-webkit-keyframes close-export {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(21rem);
            transform: translateX(21rem);
    visibility: hidden;
  }
}

@keyframes close-export {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(21rem);
            transform: translateX(21rem);
    visibility: hidden;
  }
}

@-webkit-keyframes close-exit {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(28rem);
            transform: translateX(28rem);
    visibility: hidden;
  }
}

@keyframes close-exit {
  from {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  to {
    -webkit-transform: translateX(28rem);
            transform: translateX(28rem);
    visibility: hidden;
  }
}

@-webkit-keyframes spawnGrid {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spawnGrid {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.iconHolder {
  position: absolute;
  -webkit-transform: translateX(18.5rem);
          transform: translateX(18.5rem);
}

.iconSelect {
  width: 25rem;
  height: 22.5rem;
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
  background: #F9F9F9;
  border: 3px solid #383838;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8.3rem 8.3rem 8.3rem;
      grid-template-columns: 8.3rem 8.3rem 8.3rem;
  -ms-grid-rows: 7.3rem 7.3rem 7.3rem;
      grid-template-rows: 7.3rem 7.3rem 7.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: center;
      align-self: center;
  padding-left: 0.8rem;
  z-index: 100;
}

.arrow {
  position: absolute;
  left: -1.5rem;
  -webkit-transform: translateY(-15rem);
          transform: translateY(-15rem);
}

.pickDiv {
  background: #53555F;
  height: 6rem;
  width: 6rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin: 1rem 0rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.pickDiv:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.activePickDiv {
  -webkit-animation: activatePick 0.3s ease-in-out forwards;
          animation: activatePick 0.3s ease-in-out forwards;
}

.gridIconSingle {
  position: absolute;
  z-index: 10;
  left: 13%;
  top: 10%;
  -webkit-animation: spawnIcon 0.3s ease-in-out forwards;
          animation: spawnIcon 0.3s ease-in-out forwards;
}

.textBox {
  position: relative;
  z-index: 20;
  -webkit-transform: translate(0.6rem, 0.3rem);
          transform: translate(0.6rem, 0.3rem);
}

.text {
  background: transparent;
  font-size: 1.8rem;
  border: none;
  width: 10rem;
  color: var(--textColor);
}

.text::-webkit-input-placeholder {
  color: var(--background);
  text-shadow: none;
}

.text:focus {
  background: transparent;
  outline: none;
}

.settingsBar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 100;
  margin-left: 82.7rem;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.closed .settingsButton {
  width: 6rem;
  height: 6rem;
  background: var(--uiColor);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.closed .settingsButton:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.open .settingsButton {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: var(--uiHighlight);
}

.open .settingsButton:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.spawned {
  margin-left: 110.7rem;
}

.spawned .otherSetting {
  display: none;
}

.setting {
  background: var(--uiColor);
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.otherSetting:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.restartButtonOpen {
  z-index: -10;
  -webkit-animation: spawn-restart 0.8s ease-in-out;
          animation: spawn-restart 0.8s ease-in-out;
}

.saveButtonOpen {
  z-index: -20;
  -webkit-animation: spawn-save 0.8s ease-in-out;
          animation: spawn-save 0.8s ease-in-out;
}

.exportButtonOpen {
  z-index: -30;
  -webkit-animation: spawn-export 0.8s ease-in-out;
          animation: spawn-export 0.8s ease-in-out;
}

.exitButtonOpen {
  z-index: -40;
  -webkit-animation: spawn-exit 0.8s ease-in-out;
          animation: spawn-exit 0.8s ease-in-out;
}

.restartButtonClose {
  z-index: -10;
  -webkit-animation: close-restart 0.8s ease-in-out;
          animation: close-restart 0.8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.saveButtonClose {
  z-index: -20;
  -webkit-animation: close-save 0.8s ease-in-out;
          animation: close-save 0.8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.exportButtonClose {
  z-index: -30;
  -webkit-animation: close-export 0.8s ease-in-out;
          animation: close-export 0.8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.exitButtonClose {
  z-index: -40;
  -webkit-animation: close-exit 0.8s ease-in-out;
          animation: close-exit 0.8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.settingName {
  position: absolute;
  top: -2rem;
  background: transparent;
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border: none;
  width: 10rem;
  color: var(--textColor);
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */