//Colours
$uiColor: #53555F; 
$uiHighlight: #2B2C31;
$roomGrey: #9F9F9F;
$roomDarkGrey: #383838;
$roomGreen: #14A653;
$roomDarkGreen: #073F1F;
$roomBlue: #3D92E1;
$roomDarkBlue: #0D2562;
$roomRed: #CF3652;
$roomDarkRed: #560029;
$roomYellow: #E0BC3D;
$roomDarkYellow: #563708;
$roomPurple: #904fa0;
$roomDarkPurple: #35054B;
$secretRoom: #E5E5E5;

$background: #DADEEB;

//Shadows
$boxShadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
$boxShadowActive: 0px 7px 5px rgba(0, 0, 0, 0.25);

//Sizes
$gridSize: 7.5rem;
$roomSize: calc(7.5rem - 0.8rem);
$roomSizeFacing: calc(8rem - 0.8rem);
$roomSizeFacingDouble: calc(8.5rem - 0.8rem);
$gridBorderSize: 0.4rem;
$grid: calc(7.5rem - 0.4rem);
$borderRadius: 0.6rem;

$settingSeed: 0.8s;

//Mixins
@mixin baseRoom($width, $height, $index, $left-right: false, $up-down: false) {
    width: $width; height: $height;
    background: var(--room);
    position: absolute;
    z-index: $index;
    transform-origin: center;
    transition: border-radius 0.2s;

    @if $left-right {
        border-right: 0.3rem solid var(--roomBorder); 
        border-left: 0.3rem solid var(--roomBorder);
    }
}

//Imports
@import "global";
@import "toolBar";
@import "grid";
@import "biome";
@import "room";
@import "door";
@import "_animations";
@import "_icon";
@import "_text";
@import "settings";