.biomeBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 100;
}
.biome{
    background: $uiColor;
    height: 6rem;
    width: 6rem;
    margin: 0rem 2rem;
    border-radius: 50%;
    box-shadow: $boxShadow;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;

    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}
.biome:hover{
    height: 6.3rem;
    width: 6.3rem;
    box-shadow: $boxShadowActive;
}
.activeBiome{
    animation: activateBiome 0.3s ease-in-out forwards;
    background: $uiHighlight;
}

.normalBiome{
    background: $roomGrey;
}
.grassBiome{
    background: $roomGreen;
}