.biomeBar{
    display: inline-flex;
    margin: 2rem;
}
.biome{
    background: $uiColor;
    height: 6rem;
    width: 6rem;
    margin: 0rem 2rem;
    border-radius: 50%;
    box-shadow: $boxShadow;
    transform-origin: center;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 0.5rem;
}
.activeBiome{
    width: 7rem;
    height: 7rem;
    box-shadow: $boxShadowActive;
    border: 3px solid $roomDarkGrey;
    background: $uiHighlight;
    border-radius: 50%;
    margin-top: 0;
}

.normalBiome{
    background: $roomGrey;
}
.grassBiome{
    background: $roomGreen;
}