.iconHolder{
    position: absolute;
    transform: translateX(18.5rem);
}
.iconSelect{
    width: 25rem;
    height: 22.5rem;

    box-shadow: $boxShadowActive;
    background: #FFFFFF;
    border: 3px solid #383838;
    box-sizing: border-box;
    border-radius: 0.5rem; 

    display: grid;
    grid-template-columns: 8.3rem 8.3rem 8.3rem;
    grid-template-rows: 7.3rem 7.3rem 7.3rem;
    align-items: center;
    align-self: center;
    padding-left: 0.8rem;
    z-index: 100;
}
.arrow{
    position: absolute;
    left: -1.5rem;
    transform: translateY(-15rem);
}
.pickDiv{
    background: $uiColor;
    height: 6rem;
    width: 6rem;
    margin: 1rem 0rem;
    border-radius: 50%;
    box-shadow: $boxShadow;

    display: flex;
    justify-content: center; 
    align-items: center;

    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}
.pickDiv:hover{
    height: 6.3rem;
    width: 6.3rem;
    box-shadow: $boxShadowActive;
}
.activePickDiv{
    animation: activatePick 0.3s ease-in-out forwards;
}
.gridIconSingle{
    position: absolute;
    z-index: 10;
    left:13%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    animation: spawnIcon 0.3s ease-in-out forwards;
}