.room-left-right-down-fill{
    @include baseRoom($roomSizeFacingDouble, $roomSize, 1);
    border-top: 0.3rem solid $roomDarkGrey;
    transform: translate(-0.5rem,0rem);
}
.room-left-right-down-fill::after{
    content: "";
    @include baseRoom($roomSizeFacing, 5rem, 2);
    transform: translate(0.5rem, 2rem);
}

.room-right-up-down-fill{
    @include baseRoom($roomSize, $roomSizeFacingDouble, 1);
    border-left: 0.3rem solid $roomDarkGrey;
    transform: translate(-0rem,-0.5rem);
}
.room-right-up-down-fill::after{
    content: "";
    @include baseRoom(5rem, $roomSizeFacing, 2);
    transform: translate(1.8rem, 0.5rem);
}

.room-left-right-up-down-fill{
    @include baseRoom($roomSizeFacingDouble, $roomSize, 1);
    transform: translate(-0.5rem,0rem);
}
.room-left-right-up-down-fill::before{
    content: "";
    @include baseRoom($roomSize, $roomSize, 1);
    transform: translate(1rem, 0.5rem);
}
.room-left-right-up-down-fill::after{
    content: "";
    @include baseRoom($roomSize, $roomSizeFacingDouble, 1);
    transform: translate(0.5rem, -0.5rem);
}