.room-right-down-fill{
    @include baseRoom($roomSizeFacingDouble, $roomSizeFacingDouble, 2);
    border-top: 0.3rem solid $roomDarkGrey; border-left: 0.3rem solid $roomDarkGrey; border-top-left-radius: 0.4rem;
}

.room-left-right-down-fill{
    @include baseRoom($roomSizeFacingDouble, 6.4rem, 2);
    border-top: 0.3rem solid $roomDarkGrey;
    transform: translate(-0.5rem,0rem);
}
.room-left-right-down-fill::before{
    content: "";
    @include baseRoom($roomSizeFacingDouble, 5rem, 2);
    transform: translate(0.8rem, 2.5rem);
}

.room-right-up-down-fill{
    @include baseRoom(6.4rem, $roomSizeFacingDouble, 2);
    border-left: 0.3rem solid $roomDarkGrey;
    transform: translate(-0rem,-0.5rem);
}
.room-right-up-down-fill::after{
    content: "";
    @include baseRoom(5rem, $roomSizeFacingDouble, 2);
    transform: translate(2.2rem, 0.8rem);
}

.room-left-right-up-down-fill{
    @include baseRoom($roomSizeFacingDouble, 5.6rem, 2);
    transform: translate(-0.5rem,0.5rem);
}
.room-left-right-up-down-fill::before{
    content: "";
    @include baseRoom($roomSize, $roomSize, 2);
    transform: translate(1.5rem, 0.5rem);
}
.room-left-right-up-down-fill::after{
    content: "";
    @include baseRoom(5.7rem, $roomSizeFacingDouble, 2);
    transform: translate(0.9rem, -1rem);
}