.room-left{
    @include baseRoom($roomSizeFacing, $roomSize, 2);
    border-right: 0.3rem solid var(--roomBorder); border-top: 0.3rem solid var(--roomBorder); border-bottom: 0.3rem solid var(--roomBorder);
    border-top-right-radius: 0.4rem; border-bottom-right-radius: 0.4rem;
    transform: translate(-0.5rem, 0);
}
.room-right{
    @include baseRoom($roomSizeFacing, $roomSize, 2);
    border-left: 0.3rem solid var(--roomBorder); border-top: 0.3rem solid var(--roomBorder); border-bottom: 0.3rem solid var(--roomBorder);
    border-top-left-radius: 0.4rem; border-bottom-left-radius: 0.4rem;
}
.room-up{
    @include baseRoom($roomSize, $roomSizeFacing, 2);
    border-left: 0.3rem solid var(--roomBorder); border-bottom: 0.3rem solid var(--roomBorder); border-right: 0.3rem solid var(--roomBorder);
    border-bottom-right-radius: 0.4rem; border-bottom-left-radius: 0.4rem;
    transform: translate(0, -0.5rem);
}
.room-down{
    @include baseRoom($roomSize, $roomSizeFacing, 2);
    border-left: 0.3rem solid var(--roomBorder); border-top: 0.3rem solid var(--roomBorder); border-right: 0.3rem solid var(--roomBorder);
    border-top-right-radius: 0.4rem; border-top-left-radius: 0.4rem;
}
.room-left-right{
    @include baseRoom($roomSizeFacingDouble, $roomSize, 2);
    border-bottom: 0.3rem solid var(--roomBorder); border-top: 0.3rem solid var(--roomBorder);
    transform: translateX(-0.5rem);
}

.room-left-up{
    @include baseRoom($roomSizeFacing, $roomSize, 1);
    transform: translateX(-0.5rem);
    border-bottom: 0.3rem solid var(--roomBorder); border-right: 0.3rem solid var(--roomBorder); border-bottom-right-radius: 0.4rem; border-top: 0.3rem solid var(--roomBorder);
}
.room-left-up::after{
    content:"";
    @include baseRoom(6.1rem, 0.7rem, 1, $left-right: true);
    transform: translate(0.5rem, -0.7rem);
}

.room-left-down{
    @include baseRoom($roomSizeFacing, $roomSize, 1);
    transform: translateX(-0.5rem);
    border-top: 0.3rem solid var(--roomBorder); border-right: 0.3rem solid var(--roomBorder); border-top-right-radius: 0.4rem;
    border-bottom: 0.3rem solid var(--roomBorder);
}
.room-left-down::after{
    content:"";
    @include baseRoom(6.1rem, 0.7rem, 1, $left-right: true);
    transform: translate(0.5rem, 6.1rem);
}

.room-right-up{
    @include baseRoom($roomSizeFacing, $roomSize, 1);
    border-bottom: 0.3rem solid var(--roomBorder); border-left: 0.3rem solid var(--roomBorder); border-bottom-left-radius: 0.4rem;border-top: 0.3rem solid var(--roomBorder);
}
.room-right-up::after{
    content:"";
    @include baseRoom(6.1rem, 0.7rem, 1, $left-right: true);
    transform: translate(-0.3rem, -0.7rem);           
}

.room-right-down{
    @include baseRoom($roomSizeFacing, $roomSize, 1);
    border-top: 0.3rem solid var(--roomBorder); border-left: 0.3rem solid var(--roomBorder); border-top-left-radius: 0.4rem; border-bottom: 0.3rem solid var(--roomBorder);
}
.room-right-down::after{
    content:"";
    @include baseRoom(6.1rem, 0.7rem, 1, $left-right: true);
    transform: translate(-0.3rem, 6.1rem);
}

.room-up-down{
    @include baseRoom($roomSize, $roomSizeFacingDouble, 2, $left-right: true);
    transform: translateY(-0.5rem);
}

.room-left-right-up{
    @include baseRoom($roomSizeFacingDouble, $roomSize, 1);
    border-bottom: 0.3rem solid var(--roomBorder); border-top: 0.3rem solid var(--roomBorder);
    transform: translate(-0.5rem,0rem);
}
.room-left-right-up::after{
    content: "";
    @include baseRoom(6.1rem, 0.7rem, 2, $left-right: true);
    transform: translate(0.5rem, -0.7rem);
}

.room-right-up-down{
    @include baseRoom($roomSize, $roomSizeFacingDouble, 1, $left-right: true);
    transform: translate(-0rem,-0.5rem);
}
.room-right-up-down::after{
    content: "";
    @include baseRoom(0.7rem, 6.1rem, 2);
    transform: translate(6.1rem, 0.5rem);
    border-top: 0.3rem solid var(--roomBorder); border-bottom: 0.3rem solid var(--roomBorder);
}

.room-left-right-down{
    @include baseRoom($roomSizeFacingDouble, $roomSize, 1);
    border-top: 0.3rem solid var(--roomBorder); border-bottom: 0.3rem solid var(--roomBorder);
    transform: translate(-0.5rem,0rem);
}
.room-left-right-down::after{
    content: "";
    @include baseRoom(6.1rem, 0.7rem, 2, $left-right: true);
    transform: translate(0.5rem, 6.1rem);
}

.room-left-up-down{
    @include baseRoom($roomSize, $roomSizeFacingDouble, 1, $left-right: true);
    transform: translate(-0rem,-0.5rem);
}
.room-left-up-down::after{
    content: "";
    @include baseRoom(0.7rem, 6.1rem, 2);
    border-top: 0.3rem solid var(--roomBorder); border-bottom: 0.3rem solid var(--roomBorder);
    transform: translate(-0.7rem, 0.5rem);
}

.room-left-right-up-down{
    @include baseRoom($roomSizeFacingDouble, $roomSize, 1);
    border-top: 0.3rem solid var(--roomBorder); border-bottom: 0.3rem solid var(--roomBorder);
    transform: translate(-0.5rem,0rem);
}
.room-left-right-up-down::after{
    content: "";
    @include baseRoom(6.1rem, 0.7rem, 1, $left-right: true);
    transform: translate(0.5rem, -0.7rem);
}
.room-left-right-up-down::before{
    content: "";
    @include baseRoom(6.1rem, 0.7rem, 1, $left-right: true);
    transform: translate(0.5rem,6.1rem);
}