.settingsBar{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
    padding-left: 82.7rem;
    transform: translateY(-3rem);
}
.setting{
    background: $uiColor;
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    border-radius: 50%;
    box-shadow: $boxShadow;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;

    transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}
.settingsButton{
    width: 7rem;
    height: 7rem; 
    border: 3px solid white;
    box-shadow: $boxShadowActive;
    background: $uiHighlight;
}

.settingsBarHidden{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 100;
    padding-left: 111rem;
    transform: translateY(-2.5rem);

    .otherSetting{
        display: none;
    }
    .settingsButton{
        width: 6rem;
        height: 6rem; 
        border: 0px solid white;
        box-shadow: $boxShadow;
        background: $uiColor;
    }
    .settingsButton:hover{
        height: 6.3rem;
        width: 6.3rem;
        box-shadow: $boxShadowActive;
    }
}
.otherSetting{
    margin-top: 0.5rem;
}

.otherSetting:hover{
    height: 6.3rem;
    width: 6.3rem;
    box-shadow: $boxShadowActive;
}