.textBox{
    position: relative;
    z-index: 20;
    transform: translate(0.6rem, 0.3rem);
    
}
.text{
    background: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: none;
    width: 10rem;
    color: white;
}
.text::-webkit-input-placeholder {
    color: #DADEEB;
    text-shadow: none;
}
.text:focus {
    background: transparent;
    outline: none;
}