.toolBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: -0.3rem;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.tool{
    background: $uiColor;
    height: 6rem;
    width: 6rem;
    margin: 1rem 0rem;
    border-radius: 50%;
    box-shadow: $boxShadow;

    //Centers icons
    display: flex;
    justify-content: center; 
    align-items: center;
}

.activeTool{
    width: 7rem;
    height: 7rem;
    box-shadow: $boxShadowActive;
    border: 3px solid white;
    background: $uiHighlight;
}