* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  color: #F9F9F9;
  position: static;
  overflow: hidden;
  height: 100%;
}

.toolBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -0.3rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tool {
  background: #53555F;
  height: 6rem;
  width: 6rem;
  margin: 1rem 0rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activeTool {
  width: 7rem;
  height: 7rem;
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  background: #2B2C31;
}

.centerMap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: -1rem;
  border-left: 0.4rem solid #383838;
  border-bottom: 0.4rem solid #383838;
}

.grid {
  border: 0.4rem solid #DADEEB;
  width: 7.5rem;
  height: 7.5rem;
}

.gridHolder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
      grid-template-columns: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
  -ms-grid-rows: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
      grid-template-rows: calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem) calc(7.5rem - 0.4rem);
}

.biomeBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.biome {
  background: #53555F;
  height: 6rem;
  width: 6rem;
  margin: 0rem 2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activeBiome {
  width: 7rem;
  height: 7rem;
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
  border: 3px solid #383838;
  background: #2B2C31;
  border-radius: 50%;
  margin-top: 0;
}

.normalBiome {
  background: #9F9F9F;
}

.grassBiome {
  background: #14A653;
}

.room {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border: 0.3rem solid #383838;
}

.room-left {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-right: 0.3rem solid #383838;
  border-top: 0.3rem solid #383838;
  border-bottom: 0.3rem solid #383838;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  width: calc(8rem - 0.8rem);
  -webkit-transform: translate(-0.5rem, 0);
          transform: translate(-0.5rem, 0);
}

.room-right {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-left: 0.3rem solid #383838;
  border-top: 0.3rem solid #383838;
  border-bottom: 0.3rem solid #383838;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  width: calc(8rem - 0.8rem);
}

.room-up {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-left: 0.3rem solid #383838;
  border-bottom: 0.3rem solid #383838;
  border-right: 0.3rem solid #383838;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  height: calc(8rem - 0.8rem);
  -webkit-transform: translate(0, -0.5rem);
          transform: translate(0, -0.5rem);
}

.room-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-left: 0.3rem solid #383838;
  border-top: 0.3rem solid #383838;
  border-right: 0.3rem solid #383838;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  height: calc(8rem - 0.8rem);
}

.room-left-right {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-bottom: 0.3rem solid #383838;
  border-top: 0.3rem solid #383838;
  width: calc(9.5rem - 0.8rem);
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.room-left-up {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-bottom: 0.3rem solid #383838;
  border-right: 0.3rem solid #383838;
  border-bottom-right-radius: 0.4rem;
  height: calc(8rem - 0.8rem);
  width: calc(8rem - 0.8rem);
  -webkit-transform: translate(-0.5rem, -0.5rem);
          transform: translate(-0.5rem, -0.5rem);
}

.room-left-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-top: 0.3rem solid #383838;
  border-right: 0.3rem solid #383838;
  border-top-right-radius: 0.4rem;
  height: calc(8rem - 0.8rem);
  width: calc(8rem - 0.8rem);
  -webkit-transform: translate(-0.5rem, 0);
          transform: translate(-0.5rem, 0);
}

.room-right-up {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-bottom: 0.3rem solid #383838;
  border-left: 0.3rem solid #383838;
  border-bottom-left-radius: 0.4rem;
  height: calc(8rem - 0.8rem);
  width: calc(8rem - 0.8rem);
  -webkit-transform: translate(0rem, -0.5rem);
          transform: translate(0rem, -0.5rem);
}

.room-right-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-top: 0.3rem solid #383838;
  border-left: 0.3rem solid #383838;
  border-top-left-radius: 0.4rem;
  height: calc(8rem - 0.8rem);
  width: calc(8rem - 0.8rem);
}

.room-up-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-right: 0.3rem solid #383838;
  border-left: 0.3rem solid #383838;
  height: calc(9.5rem - 0.8rem);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.room-left-right-up {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-bottom: 0.3rem solid #383838;
  height: calc(8rem - 0.8rem);
  width: calc(9.5rem - 0.8rem);
  -webkit-transform: translate(-1rem, -0.5rem);
          transform: translate(-1rem, -0.5rem);
}

.room-right-up-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-left: 0.3rem solid #383838;
  width: calc(8rem - 0.8rem);
  height: calc(9.5rem - 0.8rem);
  -webkit-transform: translate(0rem, -1rem);
          transform: translate(0rem, -1rem);
}

.room-left-right-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-top: 0.3rem solid #383838;
  height: calc(8rem - 0.8rem);
  width: calc(9.5rem - 0.8rem);
  -webkit-transform: translate(-1rem, 0);
          transform: translate(-1rem, 0);
}

.room-left-up-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  border-right: 0.3rem solid #383838;
  width: calc(8rem - 0.8rem);
  height: calc(9.5rem - 0.8rem);
  -webkit-transform: translate(-0.5rem, -1rem);
          transform: translate(-0.5rem, -1rem);
}

.room-left-right-up-down {
  width: calc(7.5rem - 0.8rem);
  height: calc(7.5rem - 0.8rem);
  background: #9F9F9F;
  position: absolute;
  width: calc(9.5rem - 0.8rem);
  height: calc(9.5rem - 0.8rem);
  -webkit-transform: translate(-1rem, -1rem);
          transform: translate(-1rem, -1rem);
}
/*# sourceMappingURL=style.css.map */