//Colours
$uiColor: #53555F; 
$uiHighlight: #2B2C31;
$roomGrey: #9F9F9F;
$roomDarkGrey: #383838;
$roomGreen: #14A653;
$roomDarkGreen: #073F1F;
$boxShadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
$boxShadowActive: 0px 7px 5px rgba(0, 0, 0, 0.25);

//Sizes
$gridSize: 7.5rem;
//roomsize is gird - gird+0.5
$roomSize: calc(7.5rem - 0.8rem);
$roomSizeFacing: calc(8rem - 0.8rem);
$roomSizeFacingDouble: calc(8.5rem - 0.8rem);
$gridBorderSize: 0.4rem;
$grid: calc(7.5rem - 0.4rem);
$borderRadius: 0.6rem;

//Mixins
@mixin baseRoom($width, $height, $index, $left-right: false, $up-down: false) {
    width: $width; height: $height;
    background: var(--room);
    position: absolute;
    z-index: $index;
    transform-origin: center;
    transition: border-radius 0.2s;

    @if $left-right {
        border-right: 0.3rem solid var(--roomBorder); 
        border-left: 0.3rem solid var(--roomBorder);
    }
}


//Imports
@import "global";
@import "toolBar";
@import "grid";
@import "biome";
@import "room";
@import "door";
@import "_animations";