//Colours
$uiColor: #53555F; 
$uiHighlight: #2B2C31;
$roomGrey: #9F9F9F;
$roomDarkGrey: #383838;
$roomGreen: #14A653;
$roomDarkGreen: #073F1F;
$boxShadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
$boxShadowActive: 0px 7px 5px rgba(0, 0, 0, 0.25);

//Sizes
$gridSize: 6rem;
$gridBorderSize: 0.4rem;
$grid: calc(6rem - 0.4rem);

//Mixins
@mixin activeBiome($color) {
    width: 7rem;
    height: 7rem;
    box-shadow: $boxShadowActive;
    border: 3px solid $color;
    background: $uiHighlight;
    border-radius: 50%;
    position: relative;
}

//Imports
@import "global";
@import "toolBar";
@import "grid";
@import "biome";